@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Lato", sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1,
h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
     margin: 10px 0;
}

.navbar{
    background-color: #047aed;
    color: #fff;
    height: 70px;
    flex-wrap: wrap;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px; 
    margin-right: 20px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
}

.navbar .flex{
    justify-content: flex-start;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.hero{
    background-color:#c5cae9;
    padding: 60px 45px; 
    margin: 0 auto;
}
.hero-inner{
    max-width: 760px;
}
.hero h1{
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
}
.hero p{
    font-size: 1.18rem;
    line-height: 1.6;
}
.button{
    background-color:#3949ab ;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block;
}
.features{
    background-color:#e8eaf6;
    padding: 60px 45px;
}
.features-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}
.featured-item h3{
    color: #283593;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
}
.featured-item p{
    margin: 0;
    line-height: 1.6;
    color: #333;
}
.logo{
    margin-right: auto;
}
.logo img{
    width: 100px;
    height:auto;
}
.footer{
    text-align: center;
    padding: 20px 0;
    color: #999;
    font-size: .9rem;
}

